*{
    font-family:Cursiva;
    margin:0px;
    padding:0px;

}

body{
    background-image:url(../img/programación.gif);
    margin: auto;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    justify-content:center;
    align-items:center;
   
    
}
.contenido{
    max-width: 1400px;
    margin: auto;
    background-color:white;
    text-align:justify ;
    align-items:center;
    justify-content:center;
}

.titulo_glosario{
    max-width: 1400px;
    height: 100px;
    margin:20px auto;
    justify-content:center;
}

.encabezado{
    width: 100%;
    height: 100px;
  
    background-color: aqua; 

   
}
:root{
    --color1:red;
    --colortitulo1:#E58501;
    --colortitulo2:#2874A6;
        
    --colorTexto:black;
}

 
.formulario_compu{
    color: black;
    text-align: center;
    font-family: fantasy;
    font-size: 63px;
    padding: 15px 0px 100px 0px ;
    align-items:center;
    
}

.Descripción{
    width:700px;
    height:200px;
    margin:auto;
}

.TITULO{
    text-align: center;
    font-family: fantasy;
    text-align: center;
    font-size: 45px;
    align-items:center;
    
}

.titulo{
    font-family: fantasy;
     font-size: 60px;
    color: black;
    align-items:center;
}

.parrafo_1{  
    margin:auto;
    height:1100px;
    width:950px;
    text-align:justify;
    background-color:blanchedalmond;
    border-radius: 60px;
    border:orangered solid 10px;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
}

.intro_html{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo_html{
    display:block;
    font-size: 53px;
    font-family: verdana;
    padding: 35px 300px 0px 300px;
    align-items:center;
 }


.p_html{
    font-size: 28px;
    font-family:verdana;
    padding: 0px 50px 50px 150px;
    font-weight:normal;
    align-items:center;
    
}

.img_html{
    padding:150px 130px 15px 5px;
}

.parrafo_2{
    height:1300px;
    width: 900px;
    margin:auto;
    text-align:justify;
    background-color:#94D1C5;
    border-radius: 60px;
    border:dodgerblue solid 10px;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
}

.intro_css{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.titulo_css{
    display:block;
    font-size: 53px;
    font-family: verdana;
    padding: 35px 300px 0px 350px;
    align-items:center;
}

.p_css{
     font-size: 28px;
    font-family:verdana;
    padding: 0px 0px 50px 150px;
    font-weight:normal;
}

.imgcss{
    margin-right:0px;
}

.img_css{
    padding:25px 140px 15px 20px;
}

.parrafo_one{
    font-size: 30px;
    font-family: verdana;
    text-align:center;
    
}


table{
    height:300px;
    width:920px;
    margin:auto;
    border:black solid 3.5px;
    border-radius: 5px;
    
}




.titulotabla{
    background-color: purple;
   
}

.titulotabla{
    color:#fff;
    text-align: center;
    font-size: 45px;
    padding:15px ;
    background-color: mediumblue;  
    font-family:fantasy;
}

.titulos_tabla{
    font-size:28px;
    font-family: verdana;
}

.parrafo_tabla{
    font-family: verdana;
    font-size: 27px;   
}

td{
    padding:10px;
    border: black solid 3.5px;
    border-radius:5px;
}

td:hover{
    background-color:aquamarine;
}

.Conexion_css{
    width:800px;
    height:200px;
    margin:auto;
}

/*--------------------------------*/

.sec_listados{
    justify-content:center;
    align-items:center;
}


.etiquetas_texto{
    font-family: verdana;
    font-size: 28px;
    text-align:justify;
    
}
.Etiquetas_título1{
    font-family: Century Gothic;
    font-size: 30px;
    color: var(--colortitulo1);
    text-align:center;
 
}


.Etiquetas_título2{
 font-family: Century Gothic;
    font-size: 30px;
    color: var(--colortitulo2);
    text-align:center;
}

.tablas_contenido{
    align-items:center;
}

.tablas_titulo{
    align-items:center;
    justify-content:center;
    border:black solid 3.5px;
}

.titulo_tablas{
  font-family:fantasy;
    font-size: 30px;
    text-align:center;
    background-image:linear-gradient(10deg, #31B7DB  0%, 50%,#EAE712     150%);
    align-items:center;
}

.etiquetas_negrita{
    font-weight:bold;
    text-align:center;
    color:darkblue;
    font-family:sans-serif;
    font-size: 33px;
}


/*-------------------------------*/

footer{
    width: 100%;
    height: 100px;
    background-color: #00D9DC  ;
    text-align: center;
    align-items:center;
}

.nombre{
    color: black;
    font-size: 55px;
    font-family: fantasy;
    align-items:center;
}