*{
    font-family:Cursiva;
    margin:0px;
    padding:0px;

}

body{
    background-image:url(../img/programación.gif);
    margin: auto;
    width: 100%;
    height: 500px;
    background-size: cove;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    
}
.contenido{
    width: 1400px;
    margin: auto;
    background-color:white;
    text-align:justify ;
}

.titulo_glosario{
    width: 1400px;
    height: 100px;
    margin:20px auto;
}

.encabezado{
    width: 100%;
    height: 100px;
  
    background-color: aqua; 

   
}
:root{
    --color1:red;
    --colortitulo1:#E58501;
    --colortitulo2:#2874A6;
        
    --colorTexto:black;
}



    
.formulario_compu{
    color: black;
    text-align: center;
    font-family: fantasy;
    font-size: 60px;
    padding: 15px 0px 0px 0px ;
    
}

.TITULO{
    text-align: center;
    font-family: fantasy;
    text-align: center;
    font-size: 40px;
    
}

.titulo{
    font-family: fantasy; font-size: 60px;
    color: black;
}

.parrafo_1{  
    text-align:justify;
    background-color:blanchedalmond;
    margin: 0px 175px 0px 175px;
    border-radius: 60px;
    border:orangered solid 10px;
}

.intro_html{
     margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo_html{
    display:block;
    font-size: 50px;
    font-family: verdana;
    padding: 35px 300px 0px 300px;
 }


.p_html{
    font-size: 18px;
    font-family:verdana;
    padding: 0px 50px 50px 150px;
    font-weight:normal;
    
}

.img_html{
    padding:25px 200px 15px 10px;
}

.parrafo_2{
    text-align:justify;
    background-color:#94D1C5;
    margin: 0px 175px 0px 0px;
    border-radius: 60px;
    border:dodgerblue solid 10px;
}

.intro_css{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.titulo_css{
    display:block;
    font-size: 50px;
    font-family: verdana;
    padding: 35px 300px 0px 350px;
}

.p_css{
     font-size: 18px;
    font-family:verdana;
    padding: 0px 50px 50px 150px;
    font-weight:normal;
}

.img_css{
    padding:25px 200px 15px 10px;
}

.parrafo_one{
    font-size: 18px;
    font-family: verdana;
    text-align:center;
    
}


table{
    margin: 15px 0px 0px 280px;
    margin: auto;
    border:black solid 3.5px;
    border-radius: 5px;
    
}




.titulotabla{
    background-color: purple;
   
}

.titulotabla{
    color:#fff;
    text-align: center;
    font-size: 40px;
    padding:15px ;
    background-color: mediumblue;  
    font-family:fantasy;
}

.titulos_tabla{
    font-size:17px;
    font-family: verdana;
}

.parrafo_tabla{
    font-family: verdana;
    font-size: 17px;   
}

td{
    padding:10px;
    border: black solid 3.5px;
    border-radius:5px;
}

td:hover{
    background-color:aquamarine;
}



/*--------------------------------*/

.sec_listados{
    padding: 0px 0px 0px 150px;
    margin: 0px;
}


.etiquetas_texto{
    font-family: Cursive;
    font-size: 20px;
    text-align:justify;
    
}
.Etiquetas_título1{
    font-family: Century Gothic;
    font-size: 35px;
    color: var(--colortitulo1);
 
}


.Etiquetas_título2{
 font-family: Century Gothic;
    font-size: 35px;
    color: var(--colortitulo2);
}

.tablas_contenido{
    margin:15px 0px 0px 280px;
}

.tablas_titulo{
    margin: 40px 240px 20px 80px;
    border:black solid 3.5px;
}

.titulo_tablas{
  font-family:fantasy;
    font-size: 25px;
    text-align:center;
    background-image:linear-gradient(10deg, #31B7DB  0%, 50%,#EAE712     150%);
}

.etiquetas_negrita{
    font-weight:bold;
    text-align:center;
    color:darkblue;
    font-family:sans-serif;
    font-size: 21px;
}


/*-------------------------------*/

footer{
    width: 100%;
    height: 100px;
    background-color: #00D9DC  ;
    text-align: center;
}

.nombre{
    color: black;
    font-size: 55px;
    font-family: fantasy;
}