*{
    margin:0;
    padding: 0;
    font-family:inherit;
    
}

header{
    position: fixed;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FAD961;
    background-image:linear-gradient(10deg, #F76B1C 0%, 5%, #FAD961 150%);
    
    
    width: 100%;
    height: auto;

    padding: 0px 50px;
    box-sizing: border-box;
 
    align-items: center;
    flex-wrap:wrap;
}

:root{
    --color1:red;
    --color2:white;
    --color3:black;
        
    --colorTexto:black;
}

.logo{
    color: var(--colorTexto);
    font-size:40px
    
    
}
.nav{
    list-style: none;
    width: 250px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size:30px;
    text-align:center;
    margin-left:20px;
    margin-top:15px;
  
}


.nav li{
    padding:18px;
    transition:0.3s;
    flex-wrap:wrap;
}
.nav li:hover{
    background-color: #ECEA6B;
    border-radius:25px;
    transition:0.3s;
}

.nav a{
    text-decoration:none; 
    color:black;
    font-family:Archivo black;
}

.nav a:hover{
    color:blue;
}

.botones{
    list-style: none;
    width:125px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align:center;
}