*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    height: auto;

}


.contenedorp{
    background-image:url(../img/imgbanner2.jpg); 
    background-size: cover;
    height:700px;
    max-width:100%;
    align-items:center;
    justify-content:center;
    flex-direction:row;
}

.banner_index > .caja_izquierda >h2{
    font-size:40px;
     color: white;
     padding:125px 0px 10px 0px;
     align-items:center;
     width:auto;
}



.caja-izquierda{
    max-width:100%;
    align-items:center; 
    
}

.parrafo_1 {
    color:white;
    font-size: 23px;
    padding:0px 0px 10px 0px;
    align-items:center;
    text-align:center;
}

.frase{
    text-align:center;
}

.botones{
    align-items: center;
    margin:auto;

    
}


.boton_1{
    display: block;
    background-color: orange;
    max-width: 80px;
    padding: 10px 100px 10px 40px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    margin-right:20px;
    transition:0.3s;

    -webkit-box-shadow: 2px 2px 10px 0px rgba(19,66,10,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(19,66,10,1);
    box-shadow: 2px 2px 10px 0px rgba(19,66,10,1);
}

.boton_1:hover{
    background-color:orangered;
    color: black;
    padding: 20px 110px 20px 45px;
    transition:0.3s;
}

.boton_2{
    display: block;
    background-color: orange;
    max-width: 80px;
    padding: 10px 130px 10px 40px;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    transition:0.3s; 
    
    
    -webkit-box-shadow: 2px 2px 10px 0px rgba(19,66,10,1);
    -moz-box-shadow: 2px 2px 10px 0px rgba(19,66,10,1);
    box-shadow: 2px 2px 10px 0px rgba(19,66,10,1);
}

.boton_2:hover{
    background-color:orangered;
    color: black;
    padding: 20px 140px 20px 45px;
    transition:0.3s;
 
}

